/* You can add global styles to this file, and also import other style files */
html, 
    body {
        height: 100%;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
   
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
