
<div id="about">
    <form id="form">

        <h1 id="header">{{'about' | translate}}</h1>
        <p id="par">Find My Pharmacy e апликација која овозможува брзо и лесно информирање за достапност на лекови. Апликацијата овозможува преглед на сите аптеки кои се простираат на територијата на Република Северна Македонија, со конкретни податоци за нивна местоположба и работно време. При пребарување на поединечен лек, апликацијата излистува податоци за аптеки со приоритет на далечина - најблизу достапен лек.  </p>
        <p>Со оглед на тоа што различни аптеки соработуваат со различни фармацевтски компании, не секогаш во првата аптека може да се најде лекот кој е потребен. Со оваа апликација секој корисник ќе заштеди време, така што со „еден клик“ ќе има точна информација каде може да го набави потребниот лек, без потреба од физичко пребарување од аптека во аптека.</p>
        <h2>Не бидете во чекор со времето,<br>бидете чекор напред!</h2>
    </form>

    <a routerLink="/home-page">
        <button class="btn" id="back"><span>{{'back' | translate}}</span></button>
    </a>
    <a routerLink="/log-in">
      <button class="btn" id="login"><span>{{'login' | translate}}</span></button>
    </a>
</div>
