<div class="login" id="login">
    
    <form (ngSubmit)="onSubmit(signInForm)" id="signInForm" #signInForm="ngForm">
        <h1 style=" letter-spacing: 5px;">Регистрација</h1>

        <mat-error *ngIf="isFormInvalid" style="margin-bottom: 5px;">
            Пополнете ги сите полиња
        </mat-error>

        <mat-form-field appearance="outline" id="one" style="text-decoration: none;">

            
            <input matInput type="text" id="name" name="name" [(ngModel)]="name" (ngModelChange)="checkNotEmpty(name)" required placeholder="Име"/>
            
        </mat-form-field>
        

        <mat-form-field appearance="outline" id="two" style="text-decoration: none;">

            
            <input matInput type="text" id="surname" name="surname" [(ngModel)]="surname" (ngModelChange)="checkNotEmpty(surname)" required placeholder="Презиме"/>
            
        </mat-form-field>

        <mat-form-field appearance="outline" id="three" style="text-decoration: none;">

            
            <input matInput type="email" id="inputEmail" name="email" [(ngModel)]="email" (ngModelChange)="checkNotEmpty(email)" required placeholder="Корисничко име"/>
            
        </mat-form-field>

        <mat-form-field appearance="outline" id="four">

           
            <input matInput type="password" id="inputPassword" name="password" [(ngModel)]="password"  (ngModelChange)="checkSame($event)" required placeholder="Лозинка"/>
           
        </mat-form-field>

        <mat-form-field appearance="outline" id="five">

           
            <input matInput type="password" id="inputPassword2" name="password2" [(ngModel)]="confirm" (ngModelChange)="checkSame($event)" required placeholder="Потврди лозинка"/>
           
        </mat-form-field>
        <mat-error *ngIf="!passwordsMatch" >Passwords do not match</mat-error>
        
        <mat-error *ngIf="!requiredFields">Потполнете ги сите полиња</mat-error>

        
        <a>
        <button  type="submit" [disabled]="!isValid" >Регистрирај се</button>
        </a>
    </form>

